.scheduled-rides {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scheduled-rides-toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-ride-btn {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0.5rem 1rem;
}

.scheduled-rides-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.scheduled-rides-create-ride-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.pac-container {
    z-index: 4000 !important; /* Higher than the dialog z-index */
}