.scheduled-rides {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scheduled-rides-toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.scheduled-rides-search-container {
    width: 90%;
}

.scheduled-rides-search {
    width: 100%;
    height: 2.5rem;
}

.create-ride-btn {
    height: 2.5rem;
}

.scheduled-rides-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.scheduled-rides-create-ride-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}