.error-message {
    display: flex;
    align-items: center;
    color: #dc2626;
    display: block;
    text-wrap: wrap;
    max-width: 250px;
}

.message-hidden {
    visibility: hidden;
}

.message-visible {
    visibility: visible;
}