
.t14 {
    font-family: "Open Sans", sans-serif !important;
    font-size: 1rem !important;
    font-weight: normal !important;
}
.t14-sb {
    font-family: "Open Sans", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.t16 {
    font-family: "Open Sans", sans-serif !important;
    font-size: 1.1428571429rem !important;
    font-weight: normal !important;
}
.t16 {
    font-family: "Open Sans", sans-serif !important;
    font-size: 1.1428571429rem !important;
    font-weight: 600 !important;
}