.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #e9ecef;
}

.header-left-container {
    display: flex;
    align-items: center;
}

.header-right-container {
    display: flex;
    align-items: center;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 16px 0 0;
    color: #3c3c3c;
}
.header-link:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.header-user-menu-container {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 6px;
}